* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.025em;
}
body {
  background-color: black;
}

@font-face {
  font-family: HelveticaNeueRegular;
  src: url('../assets/fonts/HelveticaNeueLTW10-55Roman.ttf');
}
@font-face {
  font-family: HelveticaNeueMedium;
  src: url('../assets/fonts/HelveticaNeueLTW10-65Medium.ttf');
}

.as-type-regular {
  font-family: HelveticaNeueRegular;
}
.as-type-medium {
  font-family: HelveticaNeueMedium;
}
p, li, div, a, button {
  font-family: HelveticaNeueRegular;
}
/* img {
  width: 25%;
  height: 25%;
} */

.as-h0 { 
  font-size: 250px;
  line-height: 1;
}
.as-h1 {
  /* @apply font-serif; */ 
  font-size: 36px;
}
.as-h2 {
  /* @apply font-sans;
  @apply text-2xl; */ 
  font-size: 28px;
}
.as-h3 { 
  font-size: 20px;
}

.as-type-jumbo {
  font-size: 50px;
  line-height: 53px;
}
.as-type-title1 {
  font-size: 28px;
  line-height: 34px;
}
.as-type-title2 {
  font-size: 24px;
  line-height: 30px;
}
.as-type-title3 {
  font-size: 18px;
  line-height: 30px;
}
.as-type-title4 {
  font-size: 18px;
  line-height: 30px;
}
.as-type-subtitle {
  font-size: 16px;
  line-height: 22px;
}
.as-type-body {
  font-size: 14px;
  line-height: 23px;
}
.as-type-label {
  font-size: 12px;
  line-height: 18px;
}
.as-type-small {
  font-size: 12px;
  line-height: 18px;
}
.as-type-badge {
  font-size: 10px;
  line-height: 16px;
}

.is-current {
  position: relative;
} 

.is-current:before {
  content: "";
  background-color: #E0301E;
  position: absolute;
  left: 50px;
  width: 6px;
  height: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.is-current a{
  background-color: #E8E8E8;
  font-family: HelveticaNeueMedium
} 

pre { 
  font-family: monospace;
  font-size: 14px; 
  display: block; 
}
.list-circle {
  background-color: #575757;
  border-radius: 50%;
  display: inline-block;
  color: white;
  font-family: HelveticaNeueMedium;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  width: 21px;
  height: 21px;
  text-align: center;
  margin-right: 10px;
}
 
.DarkAndLightRectangleStyle {
  display: inline-block;
  position: relative;
  width: 20px;
  top: -7%;
} 
.lightrectangle {
  background-color: #E0301E;
  height: 6px;
  width: 6px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  margin: auto; 
  animation-name: pulseRec; 
  animation-duration: 1s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0s; 
  animation-direction: alternate; 
  animation-iteration-count: infinite; 
  animation-fill-mode: none; 
  animation-play-state: running; 
} 
.darkrectangle {
  background-color:  rgba(224, 48, 30, 0.5);
  height: 12px;
  width: 12px;
  position: absolute; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  margin: auto; 
  animation-name: pulseRec; 
  animation-duration: 1s; 
  animation-timing-function: ease-in; 
  animation-delay: 0s; 
  animation-direction: alternate; 
  animation-iteration-count: infinite; 
  animation-fill-mode: none; 
  animation-play-state: running;
} 
@keyframes pulseRec {
  0% { 
  }
  100% {
    transform: scale(.7);
  }
}

.page-anchor {
  display: block;
  position: relative;
  top: -160px;
  visibility: hidden;
}

.copy-code {
  position: absolute;
  top: 1.45rem;
  right: 1.45rem;
}

.color-sample {
  width: 209px;
  height: 209px;
}
.color-description {
  background-color: #F7F7F7;
}
.react-tabs {
  background-color: transparent;
}
.react-tabs ul {
  display: flex;
  margin-bottom: 20px;
}
.react-tabs ul li {
  border-bottom: 1px solid #ABABAB;
  min-width: 60px;
  padding: 5px 20px 10px;
  cursor: pointer;
}
.react-tabs ul li[aria-selected="true"] {
  border-bottom: 2px solid #E0301E; 
  font-family: HelveticaNeueMedium;
}
.font-semibold {
  font-family: HelveticaNeueMedium;
  font-weight: 400;
}
.focus\:font-semibold:focus {
  font-family: HelveticaNeueMedium;
  font-weight: 400;
}

.as-grid-1 {
  min-width: 41.25px;
}
.as-grid-4 {
  min-width: 165px;
}
.as-grid-6 {
  min-width: 247.5px;
}
.as-grid-8 {
  min-width: 330px;
}
.as-grid-10 {
  min-width: 410px;
}
.as-grid-11 {
  min-width: 451.25px;
}

.tooltip > div {
  padding: 6px 10px;
  border: 2px solid #4EAD58;
  background-color: #fff !important;
  color: black !important;
  font-family: HelveticaNeueMedium;
}

.tooltip > div:after {
  border-left-color: #4EAD58 !important;
  border-right-color: #4EAD58 !important;
}

.h-355 {
  height: 355px;
}

.min-h-330 {
  min-height: 330px;
}

aside nav ul li a:active {
  font-family: HelveticaNeueMedium !important;
  background-color: #BCBCBC !important;
}

.border-b-5 {
  border-bottom-width: 5px;
} 
.pb-21 {
  padding-bottom: 21px;
}
.mb-3 {
  margin-bottom: 10px;
}
.as-header {
  height: 70px;
}
.as-header-link-wrapper {
  padding-top: 25px; 
  padding-bottom: 0;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 70px;
}
.as-header-link {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 18px;
}
.as-header-link-active {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 18px;
}
.as-nav-logo {
  height: 70px;
  padding: 25px 0 0 40px;
  background-color: #DEDEDE;
}
.as-nav {
  width: 230px;
  /* padding-top: 70px; */
}
.as-nav ul li a {
  line-height: 21px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 40px;
}
.as-nav ul li > ul li a {
  line-height: 21px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 64px;
}
.as-nav ul li div {
  line-height: 21px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 40px;
}
.as-body {
  padding-top: 70px;
  background-color: white;
}

.as-body main {
  margin-left: 230px;
  max-width: 1053px;
  padding: 60px 40px 60px 60px;
}

.navheader > div {
  top: 0;
  left: 0;
  right: 0; 
  transition: transform 0.3s ease-in-out;
} 

.as-page-title-wrapper {
  padding-bottom: 14.5px;
}

.as-section {
  padding-bottom: 60px;
}

.as-dyk {
  margin: 90px 0 60px; 
  padding: 30px 83px 30px 82px; 
}

.as-guidance {
  width: 330px;
}

.as-icon {
  width: 125px;
}

.as-picto {
  width: 291px;
  height: 291px;
}

.as-accordion-container {
  width: 540px;
} 
.as-accordion {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}  

.as-accordion__button {
  background-color: #E5E5E5;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center; 
  position: relative;
} 

.as-accordion .as-accordion__button:before {
  display: inline-block;
  content: '';
  height: 1px;
  width: 12px;
  margin-right: 12px;
  border-top: 2px solid currentColor; 
  /* transform: rotate(-90deg);  */ 
}

.as-accordion .as-accordion__button[aria-expanded='true']:after,
.as-accordion .as-accordion__button[aria-selected='true']:after {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 22px;
  display: inline-block;
  content: '';
  height: 12px;
  width: 1px;  
  margin-right: 12px;
  border-right: 2px solid currentColor;
}
 

.accordion__panel {
  padding: 20px;
  -webkit-animation: fadein 0.35s ease-in;
          animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */

/* ---------------- Animation part ------------------ */

/* -------------------------------------------------- */

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.as-clearspace {
  width: 451.25px;
}
.as-guidance {
  width: 14px;
  height: 14px;
}
